@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Rubik", "sans-serif";
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
}

input:hover {
  cursor: pointer;
}

/* header start  */
header {
  border-bottom: 1px solid #eee;
}

.wrapper {
  width: 95%;
  max-width: 1450px;
  margin: 0 auto;
}

header .wrapper {
  display: flex;
  flex-direction: row;
  padding: 25px 0px;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

nav {
  margin: auto 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  margin: 0 20px;
  font-size: 1rem;
}

nav ul li a:hover {
  cursor: pointer;
  color: #000;
  font-weight: 600;
}

.home {
  color: #151515;
  font-weight: bold;
}

.sub-menu {
  display: none;
}

.sub-menu li {
  padding: 10px 0;
}

.free-shipping {
  margin: auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.4;
  text-align: right;
  color: #36479d;
}

.fas {
  font-size: 30px;
}

.free-shipping-child2 {
  padding-left: 10px;
  margin-top: 10px;
}

.search-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 0;
}

.search-cart span {
  display: inline-block;
  margin-left: 50px;
  font-size: 20px;
}

.search-cart span i {
  font-weight: 100;
}

.search-cart span i:hover {
  cursor: pointer;
  font-weight: 600;
}

.search-cart span:nth-child(1) {
  padding-left: 10px;
}

/* header end  */

/* banner start  */

.banner {
  padding-top: 100px;
}

.banner-1 {
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
}

h1 {
  font-size: 4vw;
  font-weight: 900;
  text-transform: uppercase;
}

.banner-content {
  width: 30%;
  margin: auto 0;
}

.banner-img {
  width: 60%;
}

.banner-img img {
  width: 100%;
}

.banner-content p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.3;
}

.banner-content input {
  margin-top: 30px;
}

/* .california start  */

.california-design {
  /* max-width: 1200px; */
  /* margin: 0 auto;     */
  padding-top: 100px;
}

.col-1 {
  display: flex;
  justify-content: space-between;
}

.california-content {
  width: 45%;
}

h2 {
  color: #151515;
  font-size: 4vw;
  font-weight: 900;
  margin-bottom: 20px;
}

h5 {
  color: #151515;
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.california-design p {
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.5;
}

.read {
  color: #6ba8e7;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 25px;
  padding-bottom: 10px;
}

.read:hover {
  border-bottom: 1px solid #6ba8e7;
}

.read span {
  color: #000;
  padding-left: 10px;
}

.video-container {
  display: flex;
  justify-content: flex-end;
}

.california-video {
  width: auto;
  padding-right: 100px;
  margin: auto 0;
  position: relative;
  z-index: 10;
}

.video-container::before {
  content: "";
  border: 1px solid black;
  transform: rotate(-46deg);
  height: 100%;
  position: absolute;
  width: 300px;
  left: 35%;
  z-index: -1;
  border-radius: 30px;
}

/* .california end  */

/* expert testiomonila starts */

.expert-testimonial {
  padding-top: 100px;
}

.expert-testimonial .wrapper {
  background-color: #fbfbfb;
}
.test {
  display: flex;
  margin-top: 80px;
}
.expert-testimonial-content {
  display: flex;
  font-family: Rubik;
  font-size: 18px;
  line-height: 28px;
}
.fn {
  font-size: 50px;
  color: #e8b00e;
}
.fo {
  font-size: 50px;
  color: rgba(1, 1, 1, 0.2);
}

.expert-test-content p {
  padding: 10px 50px;
  font-size: 16px;
  color: #151515;
  font-weight: 500;
}

.color-change {
  color: rgba(0, 0, 0, 0.2) !important;
}

/* expert-testiomonila ends */

/* product start*/

.product-slider {
  padding: 100px 0;
}

.slider {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  color: #151515;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.slide-content p {
  margin-top: 10px;
}

.slide-content p:nth-child(1),
.slide-content p:nth-child(3) {
  font-size: 16px;
  font-weight: 900;
}

.slide-content p strike,
.slide-content p span {
  color: #000;
  font-weight: 500;
  font-size: 12px;
}

.slide-content p span {
  color: ec791d;
}

.slide-1 {
  position: relative;
  height: 100%;
  cursor: pointer;
  width: 25%;
  display: flex !important;
}

.slick-slide {
  height: auto !important;
  margin-right: 20px;
}

.slide-1 img {
  width: 100%;
  height: 100%;
}

.slide-2 {
  width: 23%;
}

.slide-2 img {
  width: 100%;
}

.slide-1:hover .slide1-content {
  display: block;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slide1-content {
  position: absolute;
  display: none;
}

.slide1-content li {
  font-size: 18px;
  color: #000;
  margin-top: 15px;
}

.slide1-content li:nth-child(1) {
  border-top: 1px solid #000;
  padding-top: 15px;
}

.slide1-content li:nth-child(2) {
  font-size: 20px;
  font-weight: 900;
  color: #ec791d;
}

.slide1-content li input {
  margin-top: 40px;
}

.slide1-content li input {
  cursor: pointer;
}

/* product slider end  */

/* more product start  */

.more-products {
  /* max-width: 1200px;
    margin: 0 auto; */
}

h3 {
  font-size: 3vw;
  font-weight: 900;
  color: #151515;
}

.product {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.product-child {
  position: relative;
  width: 32.8%;
}

.product-img img {
  width: 100%;
}

.product-img:hover {
  cursor: pointer;
}

.product-child:hover .product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30;
  left: 50%;
  transform: translateX(-50%);
}

.product-content {
  display: none;
  position: absolute;
}

.product-content li {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.product-content li:nth-child(2) {
  font-size: 26px;
}

.product-content li input,
.footer-form form input:nth-child(2),
.slide-content input,
.slide1-content li input,
.banner-content input {
  padding: 10px 20px;
  background-color: #151515;
  border: none;
  color: #fff;
}

.product-content li input,
.footer-form form input:nth-child(2) {
  cursor: pointer;
}

h4 {
  font-size: 30px;
  font-weight: 900;
  color: #151515;
  margin-top: 20px;
}

/* more product end  */

/* footer start  */

footer {
  padding-top: 100px;
}

.footer-parent {
  display: flex;
  justify-content: space-between;
}

.follow p {
  font-size: 16px;
  margin-top: 40px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.social-links span i {
  font-size: 20px;
  color: #151515;
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

.social-links span i:hover {
  color: #808080;
}

.social-links span {
  margin-left: 8%;
}
.footer-child p,
.footer-child p a {
  font-size: 16px;
  color: #151515;
  font-weight: 900;
  text-transform: uppercase;
}

.footer-child ul li {
  margin-top: 25px;
  font-size: 14px;
}

.footer-child ul li:hover,
.t-c p a:hover {
  cursor: pointer;
  color: #151515;
  font-weight: 900;
}

.t-c {
  margin-top: 35px;
}

.t-c p {
  line-height: 2.7;
}

.t-c p a {
  font-size: 14px;
}

.footer-form p:first-child {
  font-size: 16px;
  color: #000;
  font-weight: 900;
}

.footer-form p:nth-child(2) {
  margin-top: 25px;
  font-size: 14px;
}

.footer-form form {
  margin-top: 20px;
}

.footer-form form input:first-child {
  width: 300px;
  height: 35px;
  padding-left: 10px;
  border: 1px solid #000;
}

.footer-end {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  font-size: 12px;
  background-color: #eee;
}

/* footer end  */

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

/* // media */

@media only screen and (max-width: 992px) {
  .col-1 {
    flex-direction: column;
  }

  .california-content {
    width: 100%;
  }

  .video-container::before {
    display: none;
  }

  .california-video {
    width: 100%;
    padding-right: 0px;
    margin-top: 20px;
  }

  .video-container {
    justify-content: center;
  }

  .video-container iframe {
    width: 100%;
  }
  h5 {
    font-size: 22px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 25px;
  }

  .footer-parent {
    flex-direction: column;
  }

  .footer-child img {
    display: none;
  }

  .social-links {
    justify-content: flex-start;
  }
  .social-links span {
    margin-left: 20px;
  }

  .follow p {
    margin-top: 0px;
  }

  .logos {
    order: 5;
    margin-top: 40px;
  }

  .help {
    margin-top: 40px;
  }

  .footer-form {
    margin-top: 40px;
  }

  .first-fa {
    margin-left: 0px !important;
  }

  .footer-child ul li {
    margin-top: 25px;
    font-size: 16px;
  }

  .t-c p a {
    font-size: 16px;
  }

  nav {
    display: none;
  }

  .free-shipping {
    display: none;
  }

  .footer-form form {
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .test {
    flex-direction: column !important;
    margin-top: 40px;
  }

  .expert-test-content p {
    padding: 10px 25px !important;
  }

  .product {
    flex-direction: column;
  }

  .product-child {
    width: 100%;
  }

  .product-child:hover .product-content {
    top: 20%;
  }

  h4 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .banner-1 {
    flex-direction: column;
  }

  .banner-content {
    width: 100%;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 35px;
  }

  .banner-img {
    width: 100%;
    margin-top: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .expert-test-content p {
    font-size: 14px;
  }

  .quotation .fas {
    font-size: 40px !important;
  }

  h6 {
    font-size: 12px;
  }

  h4 {
    font-size: 20px;
  }

  .product-child:hover .product-content {
    top: 17%;
  }
  .pic span {
    height: 54px;
    width: 14%;
  }
}
@media only screen and (max-width: 480px) {
  .product-child:hover .product-content {
    top: 10%;
  }

  .footer-form form input:first-child {
    width: 150px;
  }
}
